{% extends 'base.html' %}

{% block conteudo %}

    <table class="table">
        <thead>
            <tr>
                <th>Nome do Crismando</th>
                <th>Data</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for frequencia in frequencias %}
            <tr>
                <td>{{ frequencia.crismando.nome }}</td>
                <td>{{ frequencia.data_frequencia.strftime('%d-%m-%Y') }}</td>
                <td>{{ frequencia.status_frequencia|title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}