{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">

    <div class="mb-4">
        <h2 class="text-primary">Registro de Frequência</h2>
    </div>
    
    <form action="{{ url_for('salvar_frequencia') }}" method="POST">
        <div class="mb-3">
            <label class="form-label fw-bold">Título:</label>
            <input type="text" name="titulo_encontro" class="form-control w-25" required>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">Data da Chamada:</label>
            <input type="date" name="data_chamada" class="form-control w-25" required>
        </div>
    
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome do Crismando</th>
                    <th>Faltou?</th>
                    <th>Observação</th>
                </tr>
            </thead>
            <tbody>
                {% for crismando in lista_crismandos %}
                <tr>
                    <td>{{ crismando.nome }}</td>
                    <td class="text-center">
                        <input type="checkbox" name="faltou_{{ crismando.id }}" value="faltou">
                    </td>
                    <td>
                        <textarea name="observacao_{{ crismando.id }}" class="form-control"></textarea>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-end">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
    
</div>
{% endblock %}
