{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">
    <div class="mb-4">
        <h2 class="text-primary">Chamadas Registradas</h2>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Título</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr>
                <td>{{ registro.titulo_encontro }}</td>
                <td>{{ registro.data_chamada.strftime('%d/%m/%Y') }}</td>
                <td>
                    <a href="{{ url_for('detalhes_frequencia', id=registro.id_infor_freq) }}" class="btn btn-info btn-sm">Ver Detalhes</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}