{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">
    <h2>Histórico de Frequência</h2>
    
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Nome do Crismando</th>
                    <th>Status</th>
                    <th>Observação</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro[0] }}</td>  <!-- Nome do Crismando -->
                    <td>{{ registro[1].strftime('%d/%m/%Y') }}</td>  <!-- Data da frequência -->
                    <td>{{ 'Presente' if registro[2] else 'Faltou' }}</td>  <!-- Status -->
                    <td>{{ registro[3] if registro[3] else 'Sem observações' }}</td>  <!-- Observação -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}