{% extends 'base.html' %}

{% block conteudo %}
    <div class="container mt-4">
        <h1 class="text-primary">Lista de Presença</h1>
    </div>

    <!-- FILTRO para a busca -->
    <div class="card p-3 mt-3">
        <form method="GET" action="{{ url_for('index') }}" class="mb-3">
            <div class="row g-3 align-items-end">
                <!-- Buscar pelo nome -->
                <div class="col-md-3">
                    <label class="fw-bold">Nome:</label>
                    <input type="text" name="busca" class="form-control" placeholder="Buscar crismando pelo nome..." value="{{ request.args.get('busca', '') }}">
                </div>

                <!-- Buscar pelo status do crismando -->
                <div class="col-md-3">
                    <label class="fw-bold">Status:</label>
                    <select name="buscar_status_crismando" class="form-control">
                        <option value="" {% if request.args.get('buscar_status_crismando', '') == '' %} selected {% endif %}>Nenhum</option>
                        <option value="ativo" {% if request.args.get('buscar_status_crismando', '') == 'ativo' %} selected {% endif %}>Ativo</option>
                        <option value="desistente" {% if request.args.get('buscar_status_crismando', '') == 'desistente' %} selected {% endif %}>Desistente</option>
                    </select>
                </div>

                <!-- Buscar pelos sacramentos -->
                <div class="col-md-3">
                    <label class="fw-bold">Batizado?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="batismo" value="1" {% if request.args.get('batismo') == '1' %} checked {% endif %}>
                        <label class="form-check-label">Sim</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="batismo" value="0" {% if request.args.get('batismo') == '0' %} checked {% endif %}>
                        <label class="form-check-label">Não</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw-bold">Recebeu a Eucaristia?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="eucaristia" value="1" {% if request.args.get('eucaristia') == '1' %} checked {% endif %}>
                        <label class="form-check-label">Sim</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="eucaristia" value="0" {% if request.args.get('eucaristia') == '0' %} checked {% endif %}>
                        <label class="form-check-label">Não</label>
                    </div>
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                    <a href="{{ url_for('index') }}" class="btn btn-secondary">Limpar Filtros</a>
                </div>
            </div>
        </form>
    </div>

    <!-- Lista completa dos nomes -->
    <table class="table table-striped table-responsive table-bordered mt-3">
        <thead class="table-light text-center">
            <tr>
                <th>Nome</th>
                <th>Status</th>
                <th>Presenças</th>
                <th>Faltas</th>
                <th>Faltas Justificadas</th>
                <th>Batizado?</th>
                <th>Eucaristia?</th>
                <th>Grupo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            {% for crismando, catequista, total_presencas, total_faltas, total_justificadas in lista_crismandos %}
                {% if current_user.catequista.grupo == catequista.grupo %}
                    {% set linha_classe = '' %}
                    {% if total_faltas and total_faltas >= 7 %}
                        {% set linha_classe = 'table-danger' %}
                    {% elif total_faltas and total_faltas >= 5 %}
                        {% set linha_classe = 'table-warning' %}
                    {% endif %}

                    <tr class="{{ linha_classe }}">
                        <td>{{ crismando.nome }}</td>
                        <td>{{ crismando.status_crismando|title }}</td>
                        <td>{{ total_presencas or 0 }}</td>
                        <td>{{ total_faltas or 0 }}</td>
                        <td>{{ total_justificadas or 0 }}</td>
                        <td>{{ crismando.batismo|title }}</td>
                        <td>{{ crismando.eucaristia|title }}</td>
                        <td>{{ catequista.grupo }}</td>
                        <td>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modal_{{ crismando.id }}">
                                Ver Detalhes
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal (pop-up) -->
    {% for crismando, catequista, total_presencas, total_faltas, total_justificadas in lista_crismandos %}
    <div class="modal fade" id="modal_{{ crismando.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ crismando.nome }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Nome:</strong> {{ crismando.nome }}</p>
                    <p><strong>Nome da Mãe:</strong> {{ crismando.nome_mae }}</p>
                    <p><strong>Nome do Pai:</strong> {{ crismando.nome_pai }}</p>
                    <p><strong>Data de Nascimento:</strong> {{ crismando.data_nascimento.strftime('%d-%m-%Y') if crismando.data_nascimento else 'N/A' }}</p>
                    <p><strong>Endereço:</strong> {{ crismando.endereco }}</p>
                    <p><strong>Telefone 1:</strong> {{ crismando.tel1 }}</p>
                    <p><strong>Telefone 2:</strong> {% if crismando.tel2 == 'None' or crismando.tel2 == '' %} Sem Contato {% endif %}  {{crismando.tel2}}</p>
                    <p><strong>Status:</strong> {{ crismando.status_crismando|title }}</p>
                    <p><strong>Batizado:</strong> {{ crismando.batismo|title }}</p>
                    <p><strong>Eucaristia:</strong> {{ crismando.eucaristia|title }}</p>
                    <p><strong>Grupo/Catequista:</strong> {{ catequista.grupo }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <a href="{{ url_for('editar_infor', id_crismando=crismando.id) }}" class="btn btn-info">Editar</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
