{% extends 'base.html' %}

{% block conteudo %}

    <!-- Lista completa dos nomes -->
    <table class="table table-striped table-responsive table-bordered mt-3">
        <thead class="table-light text-center">
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Endereço</th>
                <th>Nº Contato</th>
                <th>Grupo</th>
                <th>Nivel</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            {% for catequista in todos_os_catequistas %}
                <tr>
                    <td>{{ catequista.nome }}</td>
                    <td>{{ catequista.data_nascimento.strftime('%d/%m/%Y') if catequista.data_nascimento else 'N/A' }}</td>
                    <td>
                        {% if not catequista.endereco %}
                            Sem endereço
                        {% else %}
                            {{ catequista.endereco|title }}
                        {% endif %}
                    </td>                    
                    <td>{{ catequista.tel1 if catequista.tel1 else 'Sem nº de contato'}}</td>
                    <td>{{ catequista.grupo.nome_grupo }}</td>
                    <td>{{ catequista.nivel|title }}</td>
                    <td>
                        <a href="{{ url_for('editar_infor_catequista', id_catequista=catequista.id_catequista) }}" class="btn btn-info"> Editar </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}