{% extends 'base.html' %}

{% block conteudo %}
<div class="container mt-5">

    <form method="POST">
        <div class="form-group">
            <label for="data_frequencia">Data da Frequência</label>
            <input type="date" id="data_frequencia" name="data_frequencia" class="form-control">
        </div>
        
        {% for crismando in crismandos %}
        <div class="form-group">
            <label for="crismando_{{ crismando.id }}">{{ crismando.nome }}</label>
            <select id="crismando_{{ crismando.id }}" name="{{ crismando.id }}" class="form-control">
                <option value="presente" {% if crismando.frequencias and crismando.frequencias[0].status == 'presente' %} selected {% endif %}>Presente</option>
                <option value="faltou" {% if crismando.frequencias and crismando.frequencias[0].status == 'faltou' %} selected {% endif %}>Faltou</option>
                <option value="justificado" {% if crismando.frequencias and crismando.frequencias[0].status == 'justificado' %} selected {% endif %}>Justificado</option>
            </select>
        </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Registrar Frequências</button>
    </form>
    
</div>
{% endblock %}
